<% provide(:title, "Home") %>

<h1>StaticPages#home</h1>

<div class="center jumbotron">
 <h1>Home page - Edit this</h1>
 <h2>Must be changed to mobile site. Example pulled from tute</h2>
 <p> Page headings are showing up underneath the header. Margin-bottom on header doesn't work.
 <p><%= link_to "Login now!", '#', class: "btn btn-lg btn-primary" %></p>
</div>

<p>Find me in app/views/static_pages/home.html.erb</p>
