<% provide(:title, "Home") %>
<% provide(:page, "Home")%>


<%#This section will contain LAYOUTS for each thing they represent%>
<%# Alternatively, it could contain a  %>

<%# <h1>Home</h1> %>

<body>

<%# First div should contain popular section %>

<div class="container" id="home-popular">

</div>

<div class="container" id="home-collections">
<%= render 'layouts/collections' %>
</div>

<div class="container" id="home-newsletter">

</div>


</div>
            

</body >

