<% provide(:title, "Home") %>
<% provide(:page, "Home")%>


<%#This section will contain LAYOUTS for each thing they represent%>
<%# Alternatively, it could contain a  %>

<%# <h1>Home</h1> %>

<body>

<%# First div should contain popular section %>
<%=render 'layouts/popular' %>

<%= render 'layouts/collections' %>

<%= render 'layouts/newsletter'%>

</body >

