@import "bootstrap-sprockets"; 

@import "bootstrap";


* {
    box-sizing: border-box;
}



* {
    box-sizing: border-box;
}


<<<<<<< Updated upstream
nav {
    font-size: large;
=======
.collections-container {
    background-color: rgb(255, 255, 255);
    border: thin solid grey;
    margin: 0.5em;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
>>>>>>> Stashed changes
}


//Footer

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    margin: 2em;
}
footer a {
    color: #555;
}
footer a:hover {
    color: #222;
}
footer small {
    float: left;
}
footer ul {
    float: right;
    list-style: none;
}
footer ul li {
    float: left;
    margin-left: 15px;
}

.footer-mobile {

}