@import "bootstrap-sprockets"; 

@import "bootstrap";


*{
    margin: 0;
    padding: 0;
}

//For the Photo on home page 

.container{
    margin-top: 10%;
}

//header 

.header {
    position: relative;
    float: left;
    top: -35%;
    font-size: 25px;
    ///text-shadow: 2px 2px 8px #303030;
    text-shadow: 2px 2px #787878;
    text-color: #606060;
}

.sub {
    postion: relative;
    float: left;
    text-shadow: 2px 2px #787878;
    text-color: #606060;
    font-size: 11px;
}

.responsive {
  width: 100%;
  height: auto;
}





//Footer

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    margin: 2em;
}
footer a {
    color: #555;
}
footer a:hover {
    color: #222;
}
footer small {
    float: left;
}
footer ul {
    float: right;
    list-style: none;
}
footer ul li {
    float: left;
    margin-left: 15px;
}


