
<%# this collections file can be called from another collections file that has the layout for the collections page itself %>



<div class="container-fluid">
    <h1 class="heading">Collections<span id="see-all"><a href="/collections">See All +</a></span></h1>


    <a href="/collections">
    <div class="collections-container" id="collections-women">
        <p>Women</p>
    </div>
    </a>

    <a href="/collections">
    <div class="collections-container" id="collections-newins">
        <p>New-ins</p>
    </div>
    </a>

    <a href="/collections">
    <div class="collections-container" id="collections-men">
        <p>Men</p>  
    </div>
    </a>

    <a href="/collections">
    <div class="collections-container" id="collections-kids">
        <p>Kids</p>
    </div>
    </a>

</div>

