<footer class="footer">
    <small>
        <a href="http://www.rad2021.com/">RAD 2021</a>
        <p style="text-align:left">FOOTER IS DISTINCTION LEVEL ONLY</p>
    </small>
    <nav>
        <ul>
            
          
            <li><a href="https://www.rmit.edu.au/">RMIT</a></li>
            
        </ul>
    </nav>
</footer>