<header>


<div class="navbar-header logo-header">
    <a><%=yield(:page)%></a>
</div>

<body>
    <nav class="navbar navbar-expandmd">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class ="nav-link" href="#">Mens</a>
            </li>
              <li class="nav-item">
                <a class ="nav-link" href="#">Womens</a>
            </li>
              <li class="nav-item">
                <a class ="nav-link" href="#">Kids</a>
            </li>
              <li class="nav-item">
                <a class ="nav-link" href="#">New-Ins</a>
            </li>
        </ul>
    </nav>
    
    

</body>


<body>
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</header>