<header>


<div class="navbar-header logo-header">
    <a><%=yield(:page)%></a>
</div>

<ul class ="navbar-nav navbar-left">
    <li><a><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
    <li><a><span class="glyphicon glyphicon-search"></span></a></li>
</ul>
</nav>

<body> 
<div class="container">
    <nav class="navbar">
        <div class="hamburger-menu">
            <div class="line line-1"></div>
             <div class="line line-2"></div>
              <div class="line line-3"></div>
        </div>
        
        
        
        <ul class="nav-list">
            <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
            </li>
               <a href="#" class="nav-link">Mens</a>
            </li>
               <a href="#" class="nav-link">Womens</a>
            </li>
           <a href="#" class="nav-link">Kids</a>
            </li>
               <a href="#" class="nav-link">New-Ins</a>
            </li>
        
        </ul>
    </nav>
</div>





    <script src="script.js"></script>
</body>


<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</header>