<header>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    

<ul class="navbar-nav navbar-left">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon">
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class"nav-item active">
                 <a class="nav-link" href="#">Men</a>
            </li>
             <li class"nav-item">
                 <a class="nav-link" href="#">Women</a>
            </li>
             <li class"nav-item">
                 <a class="nav-link" href="#">Kids</a>
                  
            <li class"nav-item active">
                 <a class="nav-link" href="#">New-Ins</a>
            </li>
        </ul>
    </div>

   
    </a>
    
</ul>

<div class="navbar-header logo-header">
    <a><%=yield(:page)%></a>
</div>

<ul class ="navbar-nav navbar-right">
    <li><a><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
    <li><a><span class="glyphicon glyphicon-search"></span></a></li>
</ul>
</nav>
</header>