<header>
<nav class="navbar navbar-default">

<ul class="navbar-nav navbar-left">
    <a><span class="glyphicon glyphicon-menu-hamburger"></span></a>
</ul>

<div class="navbar-header">
    <a><%=yield(:page)%></a>
</div>

<ul class ="navbar-nav navbar-right">
    <li><a><span class="glyphicon glyphicon-shopping-cart"></span></a></li>

</ul>
<ul class ="navbar-nav navbar-right">
     <li><a><span class="glyphicon glyphicon-search"></span></a></li>
</ul>
</nav>
</header>