<header>
<div class="dropdown">
    
    <button type="button" class="glyphicon glyphicon-menu-hamburger"data-toggle="dropdown">
        </button>
        
        <ul class="dropdown-menu">
            <li><a href="">Men</a></li>
            <li><a href="">Women</a></li>
            <li><a href="">Kids</a></li>
            <li><a href="">New-Ins</a></li>

        </ul>
            
        
</div>

<ul class="navbar-nav navbar-left">
    <a><span class="glyphicon glyphicon-menu-hamburger"></span></a>
    
</ul>

<div class="navbar-header logo-header">
    <a><%=yield(:page)%></a>
</div>

<ul class ="navbar-nav navbar-right">
    <li><a><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
    <li><a><span class="glyphicon glyphicon-search"></span></a></li>
</ul>
</nav>
</header>