<h1> Popular </h1>


<%# First section is top banner %>
<%# Could move to another layout page and have it render here %>

<div class = "container">
    <img class="img-responsive" src="assets/images/mens-jacket-popular.jpg" alt="BlueJacketMan"> 
</div>